In [1]:
import numpy as np
import pandas as pd

In [9]:
dataset=pd.read_csv(r"C:\Users\Anusha\Downloads\Forest-Fire-Prediction-Website-master\Forest-Fire-Prediction-Website-master\Forest_fire.csv")

In [11]:
dataset.head()

        Area  Oxygen  Temperature  Humidity  Fire Occurrence
0   Jharkand      40           45        20                1
1  Bangalore      50           30        10                1
2    Ecuador      10           20        70                0
3          a      60           45        70                1
4  Bangalore      30           48        10                1

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area             29 non-null     object
 1   Oxygen           39 non-null     int64
 2   Temperature      39 non-null     int64
 3   Humidity         39 non-null     int64
 4   Fire Occurrence  39 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.6+ KB

In [13]:
x=dataset.iloc[:,[1,2,3]].values

In [14]:
y=dataset.iloc[:,4].values

In [15]:
y

array([1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [18]:
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
y_pred=log.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_test,y_pred)

1.0

In [22]:
import pickle

In [23]:
pickle.dump(log,open("forest.pkl","wb"))

In [24]:
y1=log.predict([[12,9,3]])

In [25]:
y1

array([0], dtype=int64)

In [27]:
y1[0]

0